# Joining Data
[Full Guide](https://www.analyticsvidhya.com/blog/2021/06/join-the-dataframes-like-sql-tables-in-python-using-pandas/)

## Setting up data frames

In [2]:
import pandas as pd
# Country and its capitals
capitals = pd.DataFrame({'Country' : ['Afghanistan','Argentina','Australia','Canada','China','France','India','Nepal','Russia','Spain'], 'ISO' : ['AF','AR','AU','CA','CN','FR','IN','NP','RU','ES'], 'Capital' : ['Kabul','Buenos_Aires','Canberra','Ottawa','Beijing','Paris','New_Delhi','Katmandu','Moscow','Madrid']}, columns=['Country', 'ISO', 'Capital'])

# Country and its currencies
currency = pd.DataFrame({'Country' : ['France','India','Nepal','Russia','Spain','Sri_Lanka','United_Kingdom','USA','Uzbekistan','Zimbabwe'], 'Currency' : ['Euro','Indian_Rupee','Nepalese_Rupee','Rouble','Euro','Rupee','Pound','US_Dollar','Sum_Coupons','Zimbabwe_Dollar'], 'Digraph' : ['FR','IN','NP','RU','ES','LK','GB','US','UZ','ZW']}, columns=['Country', 'Currency', 'Digraph'])

In [11]:
capitals

       Country ISO       Capital
0  Afghanistan  AF         Kabul
1    Argentina  AR  Buenos_Aires
2    Australia  AU      Canberra
3       Canada  CA        Ottawa
4        China  CN       Beijing
5       France  FR         Paris
6        India  IN     New_Delhi
7        Nepal  NP      Katmandu
8       Russia  RU        Moscow
9        Spain  ES        Madrid

In [12]:
currency

          Country         Currency Digraph
0          France             Euro      FR
1           India     Indian_Rupee      IN
2           Nepal   Nepalese_Rupee      NP
3          Russia           Rouble      RU
4           Spain             Euro      ES
5       Sri_Lanka            Rupee      LK
6  United_Kingdom            Pound      GB
7             USA        US_Dollar      US
8      Uzbekistan      Sum_Coupons      UZ
9        Zimbabwe  Zimbabwe_Dollar      ZW

## Inner Join
<img  src="https://editor.analyticsvidhya.com/uploads/62641inner_join.png" height="200" />

>The inner Join, as the name suggests is joining the two tables, one on right and the other on left, in such a manner that only the “common” rows appear in the final joined table.

In [30]:
# Merge can automatically identify common columns within data as in this example
pd.merge(left=capitals, right=currency, how='inner')

  Country ISO    Capital        Currency Digraph
0  France  FR      Paris            Euro      FR
1   India  IN  New_Delhi    Indian_Rupee      IN
2   Nepal  NP   Katmandu  Nepalese_Rupee      NP
3  Russia  RU     Moscow          Rouble      RU
4   Spain  ES     Madrid            Euro      ES

In [27]:
# Merge with on defined can also be used and this returns the same as the previous as country was identified automatically as the name was the same in both dataframes
pd.merge(left = capitals, right= currency, how='inner', on ='Country')

  Country ISO    Capital        Currency Digraph
0  France  FR      Paris            Euro      FR
1   India  IN  New_Delhi    Indian_Rupee      IN
2   Nepal  NP   Katmandu  Nepalese_Rupee      NP
3  Russia  RU     Moscow          Rouble      RU
4   Spain  ES     Madrid            Euro      ES

In [29]:
# Left and Right can both be defined as in the below where two differently named columns have been identified
pd.merge(left = capitals,
right = currency,
how = 'inner',
left_on='ISO',
right_on='Digraph',
suffixes=('_x', '_y'))

  Country_x ISO    Capital Country_y        Currency Digraph
0    France  FR      Paris    France            Euro      FR
1     India  IN  New_Delhi     India    Indian_Rupee      IN
2     Nepal  NP   Katmandu     Nepal  Nepalese_Rupee      NP
3    Russia  RU     Moscow    Russia          Rouble      RU
4     Spain  ES     Madrid     Spain            Euro      ES

In [32]:
# The above added in a duplication of Coutry with an _ these can be removed with the following regex (see searching data)
pd.merge(left = capitals,
right = currency,
how = 'inner',
left_on='ISO',
right_on='Digraph',
suffixes=('', '_drop')).filter(regex='^(?!.*_drop)')

  Country ISO    Capital        Currency Digraph
0  France  FR      Paris            Euro      FR
1   India  IN  New_Delhi    Indian_Rupee      IN
2   Nepal  NP   Katmandu  Nepalese_Rupee      NP
3  Russia  RU     Moscow          Rouble      RU
4   Spain  ES     Madrid            Euro      ES

## Outer Join
<img  src="https://editor.analyticsvidhya.com/uploads/16047outer_join.png" height="200" />

> The Outer or Full Join, as the name suggests is joining the two tables, one on right and the other on left, in such a manner that all rows from both the tables appear in the final joined table

In [34]:
# Outer Join can be done automatically without identifying linking columns
pd.merge(left=capitals, right=currency, how='outer')

           Country  ISO       Capital         Currency Digraph
0      Afghanistan   AF         Kabul              NaN     NaN
1        Argentina   AR  Buenos_Aires              NaN     NaN
2        Australia   AU      Canberra              NaN     NaN
3           Canada   CA        Ottawa              NaN     NaN
4            China   CN       Beijing              NaN     NaN
5           France   FR         Paris             Euro      FR
6            India   IN     New_Delhi     Indian_Rupee      IN
7            Nepal   NP      Katmandu   Nepalese_Rupee      NP
8           Russia   RU        Moscow           Rouble      RU
9            Spain   ES        Madrid             Euro      ES
10       Sri_Lanka  NaN           NaN            Rupee      LK
11  United_Kingdom  NaN           NaN            Pound      GB
12             USA  NaN           NaN        US_Dollar      US
13      Uzbekistan  NaN           NaN      Sum_Coupons      UZ
14        Zimbabwe  NaN           NaN  Zimbabwe_Dollar      ZW

In [3]:
# Outer join with left and right defined which creates a dupe of country which is removed using regex filter 
pd.merge(left=capitals,
right=currency,
how='outer',
left_on='ISO',
right_on='Digraph',
suffixes=('', '_drop')).filter(regex='^(?!.*_drop)')

        Country  ISO       Capital         Currency Digraph
0   Afghanistan   AF         Kabul              NaN     NaN
1     Argentina   AR  Buenos_Aires              NaN     NaN
2     Australia   AU      Canberra              NaN     NaN
3        Canada   CA        Ottawa              NaN     NaN
4         China   CN       Beijing              NaN     NaN
5        France   FR         Paris             Euro      FR
6         India   IN     New_Delhi     Indian_Rupee      IN
7         Nepal   NP      Katmandu   Nepalese_Rupee      NP
8        Russia   RU        Moscow           Rouble      RU
9         Spain   ES        Madrid             Euro      ES
10          NaN  NaN           NaN            Rupee      LK
11          NaN  NaN           NaN            Pound      GB
12          NaN  NaN           NaN        US_Dollar      US
13          NaN  NaN           NaN      Sum_Coupons      UZ
14          NaN  NaN           NaN  Zimbabwe_Dollar      ZW

## Left Join
<img  src="https://editor.analyticsvidhya.com/uploads/24996left_join.png" height="200" />

> The Left Join, as the name suggests is joining the two tables, one on right and the other on left, in such a manner that all rows from ONLY the LEFT table and its subsequent common values in the right table appear in the final joined table.

In [4]:
# Left join with auto match colum

pd.merge(left=capitals, right=currency, how='left')

       Country ISO       Capital        Currency Digraph
0  Afghanistan  AF         Kabul             NaN     NaN
1    Argentina  AR  Buenos_Aires             NaN     NaN
2    Australia  AU      Canberra             NaN     NaN
3       Canada  CA        Ottawa             NaN     NaN
4        China  CN       Beijing             NaN     NaN
5       France  FR         Paris            Euro      FR
6        India  IN     New_Delhi    Indian_Rupee      IN
7        Nepal  NP      Katmandu  Nepalese_Rupee      NP
8       Russia  RU        Moscow          Rouble      RU
9        Spain  ES        Madrid            Euro      ES

In [5]:
# Left join with left and right defined which creates a dupe of country which is removed using regex filter 
pd.merge(left=capitals,
right=currency,
how='left',
left_on='ISO',
right_on='Digraph',
suffixes=('', '_drop')).filter(regex='^(?!.*_drop)')

       Country ISO       Capital        Currency Digraph
0  Afghanistan  AF         Kabul             NaN     NaN
1    Argentina  AR  Buenos_Aires             NaN     NaN
2    Australia  AU      Canberra             NaN     NaN
3       Canada  CA        Ottawa             NaN     NaN
4        China  CN       Beijing             NaN     NaN
5       France  FR         Paris            Euro      FR
6        India  IN     New_Delhi    Indian_Rupee      IN
7        Nepal  NP      Katmandu  Nepalese_Rupee      NP
8       Russia  RU        Moscow          Rouble      RU
9        Spain  ES        Madrid            Euro      ES

## Right Join
<img  src="https://editor.analyticsvidhya.com/uploads/15523right_join.png" height="200" />

> The Right Join, as the name suggests is joining the two tables, one on right and the other on left, in such a manner that all rows from ONLY the RIGHT table and its subsequent common values in the left table appear in the final joined table.

In [6]:
# Right join with auto match colum

pd.merge(left=capitals, right=currency, how='right')

          Country  ISO    Capital         Currency Digraph
0          France   FR      Paris             Euro      FR
1           India   IN  New_Delhi     Indian_Rupee      IN
2           Nepal   NP   Katmandu   Nepalese_Rupee      NP
3          Russia   RU     Moscow           Rouble      RU
4           Spain   ES     Madrid             Euro      ES
5       Sri_Lanka  NaN        NaN            Rupee      LK
6  United_Kingdom  NaN        NaN            Pound      GB
7             USA  NaN        NaN        US_Dollar      US
8      Uzbekistan  NaN        NaN      Sum_Coupons      UZ
9        Zimbabwe  NaN        NaN  Zimbabwe_Dollar      ZW

In [7]:
# Right join with left and right defined which creates a dupe of country which is removed using regex filter 
pd.merge(left=capitals,
right=currency,
how='left',
left_on='ISO',
right_on='Digraph',
suffixes=('', '_drop')).filter(regex='^(?!.*_drop)')

       Country ISO       Capital        Currency Digraph
0  Afghanistan  AF         Kabul             NaN     NaN
1    Argentina  AR  Buenos_Aires             NaN     NaN
2    Australia  AU      Canberra             NaN     NaN
3       Canada  CA        Ottawa             NaN     NaN
4        China  CN       Beijing             NaN     NaN
5       France  FR         Paris            Euro      FR
6        India  IN     New_Delhi    Indian_Rupee      IN
7        Nepal  NP      Katmandu  Nepalese_Rupee      NP
8       Russia  RU        Moscow          Rouble      RU
9        Spain  ES        Madrid            Euro      ES